<p><strong>Exploratory testing done</strong></p>
<p>with build XXX</p>
<p>with phones</p>
<ul class="ak-ul">
    <li>
        <p>TE</p>
    </li>
</ul>
<p><span shortname=":check_mark:" id="atlassian-check_mark" text=":check_mark:" class="emojiView-content-wrap" contenteditable="false"><span class="sc-eydyIs bMsZzO"><span data-emoji-id="atlassian-check_mark" data-emoji-short-name=":check_mark:" data-emoji-text=":check_mark:"><span class="f14svvg8 emoji-common-node" aria-label=":check_mark:"><span><img src="https://pf-emoji-service--cdn.us-east-1.prod.public.atl-paas.net/atlassian/check_mark_64.png" alt=":check_mark:" data-emoji-short-name=":check_mark:" data-emoji-id="atlassian-check_mark" data-emoji-text=":check_mark:" class="emoji" width="20" height="20" style="visibility: visible;"></span></span>
    </span>
    </span>​</span>
    <br>
</p>
<p><span shortname=":cross_mark:" id="atlassian-cross_mark" text=":cross_mark:" class="emojiView-content-wrap" contenteditable="false"><span class="sc-eydyIs bMsZzO"><span data-emoji-id="atlassian-cross_mark" data-emoji-short-name=":cross_mark:" data-emoji-text=":cross_mark:"><span class="f14svvg8 emoji-common-node" aria-label=":cross_mark:"><span><img src="https://pf-emoji-service--cdn.us-east-1.prod.public.atl-paas.net/atlassian/cross_mark_64.png" alt=":cross_mark:" data-emoji-short-name=":cross_mark:" data-emoji-id="atlassian-cross_mark" data-emoji-text=":cross_mark:" class="emoji" width="20" height="20" style="visibility: visible;"></span></span>
    </span>
    </span>​</span> discovered bug</p>
<p>Test cases are up-to-date</p>